@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400');

body {
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato;
  font-weight: 200;
}
.nav{
  list-style: none;
}
.navbar-brand {
  margin: 0;
}
.nav-item{
  margin: 0 0.5rem;
}
.active>.nav-link .nav-item {
    color: black;
}
#navbarResponsive {
  margin-left: 250px
}
.rating_image {
    height: 30px;
    margin: 0 10px 10px 10px;
    float: right;
}
.rating_score {
    float: right;
    margin: 0 20px 10px 0;
}
.heart {
    fill: #f5d3d3;
    float: right;
    width: 30px;
}

.vote {
    margin: 0 10px 10px 10px;
    float: right;
}
.card-img-top {
    max-width: 100%;
    height: auto;
}
.card-title {
    padding:1rem 1rem 0 1rem;
}
.card-text {
    padding:0 1rem 1rem 1rem;
}
.card {
    padding: 10px;
}
.image_container {
    width:100%;
    height: 160px;
}
.SearchBoxInput {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #555;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    outline: none;
    padding: 20px;
    width: 100%;
}
.searchIcon {
    height: 20px;
    width:20px;
    fill: #b5b5b5;
    margin-left: 15px;
}
.searchBar {
    height:40px;
    width:60%;
    align-items:center;
    background-color:#efefef;
    display: inline-flex;
    border-radius: 4px;
    margin-left: 20px;
}


.navbar{
  background-color: white;
  border-radius: 0;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px #e6e6e6;
}

.header-img-container{
  box-shadow: 0 0 5px #e6e6e6;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
  

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #2A99FF;
}
a {
  color: rgba(0, 0, 0, 0.5);
}

a.nav-item{
  font-size: 1.2rem;
}

.navbar-toggle .icon-bar {
   display: block;
   width: 30px;
   height: 5px;
 }

p {
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.myFooter {
  margin: auto;
  text-align: center;
}

.body .row{
  width:90%;
  /*height:120%;*/
  margin:0 auto;
  padding-bottom: 80px;
}
button:focus {outline:0;}
.row.relatedWork .col-md-4 .cards{
  border: rgb(200,200,200) solid 2px;
  /*border-radius: 10px*/
  padding: 1rem;
  margin: .5rem;
  background-color: rgb(255,255,255);
}

.row.relatedWork .col-md-4 .cards:hover{
  border: rgb(200,200,200) solid 2px;
  /*border-radius: 10px*/
  padding: 1rem;
  margin: .5rem;
  background-color: rgba(255,255,255,0.5);
}

.portfolioDeck{
  padding-top:15px;
  padding-bottom:15px;
  float: left;
  position: relative;
}
.card-block{
    text-align: center;
}
.portfolioDeck .card:hover{
  opacity: 0.5;
}
.source {
    display: inline-block;
    margin: 10px;

}
.levels{
    width: 40px;
    display: inline-block;
    margin:10px;
}
.filtered {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.ingredients {
    margin: auto;
    width: 90%;
    padding: 0 30px 30px 30px;
}
.portfolio{
  width:90%;
  margin:auto;
}
.choices{
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.build {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    text-align: center;
    border: none;
    background: #3066e0;
    color: white;
    font-family: Lato;
    font-weight: 200;
}
.navbar-light .navbar-toggler {
 /*line-height: 60px;*/
 margin-top:15px;
 border-color:rgba(200,200,200,0.3);
 /*outline-color:rgba(200,200,200,0.5);*/
}

.navbar button:focus{
 /*line-height: 60px;*/
 outline:0;
 /*box-shadow: none;*/
 border-color: rgba(200,200,200,0.7);

}

.navbar-toggler .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,200,200, 0.3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav{
  float:right;
  text-align:right;
}

.card_container {
    margin: 0 10px 20px 10px;
    break-inside: avoid;
}
#columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}


/* ///  DECORATION CSS ///  */



.icon_select_mate {
    position: absolute;
    top:20px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}

.select_mate {
    position: relative;
    float: left;
    min-width: 300px;
    width: 300px;
    min-height: 60px;
    font-family: 'Roboto';
    color: #777;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
}
/* Oculto el elemento select */
select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.options{
    font-family: Lato;
    font-weight: 200;
}
.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

li {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    background-color: #abc1f3;
    list-style-type: none;
    padding: 10px 2%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}
li:last-child {
     border-radius: 3px;
     border-bottom:0px;

 }
li:hover {
     background-color: #85b1f2;
}

.active {
    background-color: #85b1f2;
}



/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding: 20px 2%;
    width: 100%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

