<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yuhui Dai">
  <link rel="shortcut icon" type="image/x-icon" href="../static/resource/salad.png">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
  <link href="../static/css/portfolioTemplate.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<title>SaladNews</title>

</head>
<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <img src="../static/resource/salad.png" height ="45px" class="d-inline-block align-top" alt="">
  </a>
    <div style="padding-left: 20px; padding-right: 40px; font-size: 24px;">SaladNews</div>
    <div class="searchBar">
        <div>
            <svg class="searchIcon" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
                <path d="M10.00,16.00 C6.69,16.00 4.00,13.31 4.00,10.00 C4.00,6.69 6.69,4.00 10.00,4.00 C13.31,4.00 16.00,6.69 16.00,10.00 C16.00,13.31 13.31,16.00 10.00,16.00 M23.12,18.88 L18.86,14.62 C19.59,13.24 20.00,11.67 20.00,10.00 C20.00,4.48 15.52,0.00 10.00,0.00 C4.48,0.00 0.00,4.48 0.00,10.00 C0.00,15.52 4.48,20.00 10.00,20.00 C11.67,20.00 13.24,19.59 14.62,18.86 L18.88,23.12 C20.05,24.29 21.95,24.29 23.12,23.12 C24.29,21.95 24.29,20.05 23.12,18.88" data-reactid="43"></path>
            </svg>
        </div>
        <div style="width:100%;height:100%;">
            <input type="text" autocomplete="off" aria-autocomplete="false" aria-describedby="searchBoxAccessibleText" class="SearchBoxInput" data-test-id="SearchBoxInput" id="searchBar" placeholder="Search" value="">
        </div>
    </div>
    <div style="padding-left: 40px; padding-right: 40px; font-size: 20px; color:#3066e0">Login / Sign up</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>



<section class="jumbotron text-left">
    <div class="ingredients">
        <div class="col-md-4 choices">Choose Your Main Topic: </div>
        <div class="select_mate" data-mate-select="active" >
            <select id="topic" onchange="">
                <option value="art" class="options">Art</option>
                <option value="busines" class="options">Business & Finance</option>
                <option value="environment" class="options">Environment</option>
                <option value="entertainment" class="options">Entertainment</option>
                <option value="health" class="options">Health</option>
                <option value="politics" class="options">Politics</option>
                <option value="tech" class="options">Science & Technology</option>
                <option value="sports" class="options">Sports</option>
            </select>
            <p class="selecionado_opcion options"  onclick="open_select(this)" ></p>
            <span onclick="open_select(this)" class="icon_select_mate" >
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                <path d="M0-.75h24v24H0z" fill="none"/>
            </svg>
        </span>
            <div class="cont_list_select_mate">
                <ul class="cont_select_int options">  </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="ingredients">
        <div class="col-md-12 choices">Add Your Source(s): </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="bloomberg"/>
            <div class="state p-danger-o">
                <label>Bloomberg</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="cnn"/>
            <div class="state p-danger-o">
                <label>CNN</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="the-washington-post"/>
            <div class="state p-danger-o">
                <label>The Washington Post</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="the-new-york-times"/>
            <div class="state p-danger-o">
                <label>New York Times</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="buzzfeed"/>
            <div class="state p-danger-o">
                <label>Buzzfeed</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="bbc-news"/>
            <div class="state p-danger-o">
                <label>BBC</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="nbc-news"/>
            <div class="state p-danger-o">
                <label>NBC News</label>
            </div>
        </div>
        <div class="col-md-2 pretty p-default p-curve p-thick p-smooth source">
            <input type="checkbox" class="checkboxClass" id="the-huffington-post"/>
            <div class="state p-danger-o">
                <label>The Huffington Post</label>
            </div>
        </div>
    </div>
    <div class="ingredients">
        <div class="col-md-12 choices">Seasoning Your Reading Ease: </div>
        <div>
            <img src="../static/resource/icon.svg" onclick="changeColor(this)" onmouseover="hoverColor(this)" onmouseout="mouseOut(this)" id='1' class="levels">
            <img src="../static/resource/icon.svg" onclick="changeColor(this)" onmouseover="hoverColor(this)" onmouseout="mouseOut(this)" id='2' class="levels">
            <img src="../static/resource/icon.svg" onclick="changeColor(this)" onmouseover="hoverColor(this)" onmouseout="mouseOut(this)" id='3' class="levels filtered">
            <img src="../static/resource/icon.svg" onclick="changeColor(this)" onmouseover="hoverColor(this)" onmouseout="mouseOut(this)" id='4' class="levels filtered">
            <img src="../static/resource/icon.svg" onclick="changeColor(this)" onmouseover="hoverColor(this)" onmouseout="mouseOut(this)" id='5' class="levels filtered">

        </div>
    </div>
    <div style="margin: auto;">
        <button class="col-md-12 build" onclick="sendData()">Build Your News Salad</button>
    </div>

</section>

<footer>
  <div class="col-md-12 portfolio">
    <p class="myFooter">© 2018 Disheng Zheng, Zhen Liu & Yuhui Dai</p>
  </div>
<hr style="visibility:hidden">

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("input").on("keydown",function search(e) {
        if(e.keyCode == 13) {
          window.location = '/search?search='+ ($(this).val());
        }
    });

    function sendData() {
        // get topic
        var topic = $("#topic").val();
        // get news sources
        var resource = "";
        var n = $(".checkboxClass:checked").length;
        if (n > 0){
            $(".checkboxClass:checked").each(function(){
                resource += ($.trim($(this).attr('id'))) + ",";
                //resource += ($.trim($(this).next().text())) + ",";
                //console.log($.trim($(this).next().text()).length);
            });
        }
        resource = resource.substring(0, resource.length-1);
        console.log(resource);
        // get easiness level
        var level = 0;
        for (var i=1; i<= 5; i++) {
            if ($('#'+i).hasClass("isClicked")) {
                level = i;
            }
        }

        window.location = '/articles?search='+ topic+"&resource=" +resource+"&level="+level;

    }

    function hoverColor(caller) {
        var curr_id = $(caller).attr('id');
        for (var i=1; i<=curr_id; i++) {
            if (!$("#"+i).hasClass('isClicked')) {
                $("#"+i).removeClass('filtered');
            }
        }

    }
    function mouseOut(caller) {
        var curr_id = $(caller).attr('id');
        for (var i=1; i<=curr_id; i++) {
            if (!$("#"+i).hasClass('isClicked')) {
                $("#"+i).addClass('filtered');
            }

        }

    }

    function changeColor(caller) {
        console.log("clicking");
        if ($(caller).hasClass('isClicked')) {
            for (var i = 1; i <= 5; i++) {
                //reset
                $("#" + i).addClass('filtered');
                $("#" + i).removeClass('isClicked');
            }

            var curr_id = $(caller).attr('id');
            console.log("curr_id.."+curr_id);
            for (var i = 1; i <= curr_id; i++) {
                console.log("coloring.."+i);
                $("#" + i).removeClass('filtered');
                $("#" + i).addClass('isClicked');
            }

        } else {
            var curr_id = $(caller).attr('id');
            for (var i = 1; i <= curr_id; i++) {
                $("#" + i).removeClass('filtered');
                $("#" + i).addClass('isClicked');
            }
        }
    }

    window.onload = function(){
        crear_select();
    }

    var Navegador_ = (window.navigator.userAgent||window.navigator.vendor||window.opera),
        Firfx = /Firefox/i.test(Navegador_),
        Mobile_ = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(Navegador_),
        FirfoxMobile = (Firfx && Mobile_);

    var li = new Array();
    function crear_select(){
        var div_cont_select = document.querySelectorAll("[data-mate-select='active']");
        var select_ = '';
        for (var e = 0; e < div_cont_select.length; e++) {
            div_cont_select[e].setAttribute('data-indx-select',e);
            div_cont_select[e].setAttribute('data-selec-open','false');
            var ul_cont = document.querySelectorAll("[data-indx-select='"+e+"'] > .cont_list_select_mate > ul");
            select_ = document.querySelectorAll("[data-indx-select='"+e+"'] >select")[0];
            if (Mobile_ || FirfoxMobile) {
                select_.addEventListener('change', function () {
                    _select_option(select_.selectedIndex,e);
                });
            }
            var select_optiones = select_.options;
            document.querySelectorAll("[data-indx-select='"+e+"']  > .selecionado_opcion ")[0].setAttribute('data-n-select',e);
            document.querySelectorAll("[data-indx-select='"+e+"']  > .icon_select_mate ")[0].setAttribute('data-n-select',e);
            for (var i = 0; i < select_optiones.length; i++) {
                li[i] = document.createElement('li');
                if (select_optiones[i].selected == true || select_.value == select_optiones[i].innerHTML ) {
                    li[i].className = 'active';
                    document.querySelector("[data-indx-select='"+e+"']  > .selecionado_opcion ").innerHTML = select_optiones[i].innerHTML;
                };
                li[i].setAttribute('data-index',i);
                li[i].setAttribute('data-selec-index',e);
// funcion click al selecionar
                li[i].addEventListener( 'click', function(){  _select_option(this.getAttribute('data-index'),this.getAttribute('data-selec-index')); });

                li[i].innerHTML = select_optiones[i].innerHTML;
                ul_cont[0].appendChild(li[i]);

            }; // Fin For select_optiones
        }; // fin for divs_cont_select
    } // Fin Function



    var cont_slc = 0;
    function open_select(idx){
        var idx1 =  idx.getAttribute('data-n-select');
        var ul_cont_li = document.querySelectorAll("[data-indx-select='"+idx1+"'] .cont_select_int > li");
        var hg = 0;
        var slect_open = document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].getAttribute('data-selec-open');
        var slect_element_open = document.querySelectorAll("[data-indx-select='"+idx1+"'] select")[0];
        if (Mobile_ || FirfoxMobile) {
            if (window.document.createEvent) { // All
                var evt = window.document.createEvent("MouseEvents");
                evt.initMouseEvent("mousedown", false, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                slect_element_open.dispatchEvent(evt);
            } else if (slect_element_open.fireEvent) { // IE
                slect_element_open.fireEvent("onmousedown");
            }
        }else {


            for (var i = 0; i < ul_cont_li.length; i++) {
                hg += ul_cont_li[i].offsetHeight;
            };
            if (slect_open == 'false') {
                document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','true');
                document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = hg+"px";
                document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(180deg)';
            }else{
                document.querySelectorAll("[data-indx-select='"+idx1+"']")[0].setAttribute('data-selec-open','false');
                document.querySelectorAll("[data-indx-select='"+idx1+"'] > .icon_select_mate")[0].style.transform = 'rotate(0deg)';
                document.querySelectorAll("[data-indx-select='"+idx1+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
            }
        }

    } // fin function open_select

    function salir_select(indx){
        var select_ = document.querySelectorAll("[data-indx-select='"+indx+"'] > select")[0];
        document.querySelectorAll("[data-indx-select='"+indx+"'] > .cont_list_select_mate > ul")[0].style.height = "0px";
        document.querySelector("[data-indx-select='"+indx+"'] > .icon_select_mate").style.transform = 'rotate(0deg)';
        document.querySelectorAll("[data-indx-select='"+indx+"']")[0].setAttribute('data-selec-open','false');
    }


    function _select_option(indx,selc){
        if (Mobile_ || FirfoxMobile) {
            selc = selc -1;
        }
        var select_ = document.querySelectorAll("[data-indx-select='"+selc+"'] > select")[0];

        var li_s = document.querySelectorAll("[data-indx-select='"+selc+"'] .cont_select_int > li");
        var p_act = document.querySelectorAll("[data-indx-select='"+selc+"'] > .selecionado_opcion")[0].innerHTML = li_s[indx].innerHTML;
        var select_optiones = document.querySelectorAll("[data-indx-select='"+selc+"'] > select > option");
        for (var i = 0; i < li_s.length; i++) {
            if (li_s[i].className == 'active') {
                li_s[i].className = '';
            };
            li_s[indx].className = 'active';

        };
        select_optiones[indx].selected = true;
        select_.selectedIndex = indx;
        select_.onchange();
        salir_select(selc);
    }




</script>

</body>

</html>
