<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Yuhui Dai">
  <link rel="shortcut icon" type="image/x-icon" href="../static/resource/salad.png">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/portfolioTemplate.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

<title>SaladNews</title>




</head>
<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <img src="../static/resource/salad.png" height ="45px" class="d-inline-block align-top" alt="">
  </a>
    <div style="padding-left: 20px; padding-right: 40px; font-size: 24px;">SaladNews</div>
    <div class="searchBar">
        <div>
            <svg class="searchIcon" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
                <path d="M10.00,16.00 C6.69,16.00 4.00,13.31 4.00,10.00 C4.00,6.69 6.69,4.00 10.00,4.00 C13.31,4.00 16.00,6.69 16.00,10.00 C16.00,13.31 13.31,16.00 10.00,16.00 M23.12,18.88 L18.86,14.62 C19.59,13.24 20.00,11.67 20.00,10.00 C20.00,4.48 15.52,0.00 10.00,0.00 C4.48,0.00 0.00,4.48 0.00,10.00 C0.00,15.52 4.48,20.00 10.00,20.00 C11.67,20.00 13.24,19.59 14.62,18.86 L18.88,23.12 C20.05,24.29 21.95,24.29 23.12,23.12 C24.29,21.95 24.29,20.05 23.12,18.88" data-reactid="43"></path>
            </svg>
        </div>
        <div style="width:100%;height:100%;">
            <input type="text" autocomplete="off" aria-autocomplete="false" aria-describedby="searchBoxAccessibleText" class="SearchBoxInput" data-test-id="SearchBoxInput" id="searchBar" placeholder="Search" value="">
        </div>
    </div>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>

<section class="jumbotron text-left">
    <div class="row portfolio cards">
        <div class="col-md-12 cards">

    <div class="col-md-4 col-sm-6 portfolioDeck">
      <a href="/articles?search=politics">
        <div class="card">
          <img style="height: 200px; padding: 10px; " src="../static/resource/politics.png">
          <div class="card-block">
            Politics
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 portfolioDeck">
      <a href="/articles?search=technology">
        <div class="card">
          <img style="height: 200px; padding: 10px" src="../static/resource/sci_tech.png">
          <div class="card-block">
            Science & Technology
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 portfolioDeck">
      <a href="/articles?search=sport">
        <div class="card">
          <img style="height: 200px; padding: 10px" src="../static/resource/sports.png">
          <div class="card-block">
            Sports
          </div>
        </div>
      </a>
    </div>
    <div class="portfolioDeck col-md-4 col-sm-6">
      <a href="/articles?search=environment">
        <div class="card">
          <img style="height: 200px; padding: 10px" src="../static/resource/environment.png">
          <div class="card-block">
            Environment
          </div>
        </div>
      </a>
    </div>
    <div class="portfolioDeck col-md-4 col-sm-6">
      <a href="/articles?search=entertainment">
        <div class="card">
          <img style="height: 200px; padding: 10px" src="../static/resource/entertainment.png">
          <div class="card-block">
            Entertainment
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 portfolioDeck">
      <a href="/articles?search=business">
        <div class="card">
          <img style="height: 200px; padding: 10px" src="../static/resource/bus_fin.png">
          <div class="card-block">
            Business & Finance
          </div>
        </div>
      </a>
    </div>
            <div class="col-md-4 col-sm-6 portfolioDeck">
                <a href="/articles?search=food">
                    <div class="card">
                        <img style="height: 200px; padding: 10px" src="../static/resource/food.png">
                        <div class="card-block">
                            Food
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 portfolioDeck">
                <a href="/articles?search=U.S">
                    <div class="card">
                        <img style="height: 200px; padding: 10px" src="../static/resource/USnews.png">
                        <div class="card-block">
                            U.S. News
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 portfolioDeck">
                <a href="/articles?search=world">
                    <div class="card">
                        <img style="height: 200px; padding: 10px" src="../static/resource/world.jpg">
                        <div class="card-block">
                            World News
                        </div>
                    </div>
                </a>
            </div>
  </div>

</div>
</section>

<footer>
  <div class="col-md-12 portfolio">
    <p class="myFooter">© 2018 Disheng Zheng, Zhen Liu & Yuhui Dai</p>
  </div>
<hr style="visibility:hidden">

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("input").on("keydown",function search(e) {
        if(e.keyCode == 13) {
          window.location = '/articles?search='+ ($(this).val());
        }
    });

  </script>

</body>

</html>
